body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #130f40;;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li a{
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: orange;
}

 a{
    color: orange;
    text-decoration: none;
}
#bar{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}


@media (max-width:991px){
    html{
        font-size: 20px;
    }
}
@media (max-width:490px) {
    nav {
        position: absolute;
        top: 38px;
        left: 0;
        right: 0;
        background: #130f40;
        display: none;
       
       
    }
    nav ul{
        font-size: 30px;
        display: block;
        transition: .3s linear;
    }
    nav ul li a{
        transition: .3s;
        margin-bottom: 25px;
    }
    nav ul li a:hover{
        letter-spacing: 2px;
        color: #fff;
        margin-left: 10px;
        width: 90px;
    }
    #bar{
       display: block;
       transition: 2s;
    }
    .active{    
        display: block;
        transition: 2s;
    }
}